<div id="canoe-widget">
	{% if include.title %}<h3 class="centered">{{ include.title }}</h3>{% endif %}
	<div class="canoe centered">
		{% for project in site.categories['canoes'] limit:include.limit %}
			<div class="canoe-item">
				<div class="he-wrap tpl6">
				<img src="{{ "/assets/img/canoes/" | prepend: site.baseurl }}{{ project.title }}/thumb.jpg" alt="" />
					<div class="he-view">
						<div class="bg a0" data-animate="fadeIn">
							<h3 class="a1" data-animate="fadeInDown">{{ project.wrap_title }}</h3>
                            <h4 class="info">({{ project.date | date: '%Y' }} - {{ project.date | date: '%Y' | plus:1}})</h4>
							<a href="{{  project.url | prepend: site.baseurl }}" class="dmbutton a1" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
						</div>
					</div>
				</div>
				<!-- Isotope variables -->
				<p class="iyear" style='display:none'>({{ project.date | date: '%Y' }} - {{ project.date | date: '%Y' | plus:1}})</p>
				<p class="iname" style='display:none'>{{ project.wrap_title }}</p>
				<p class="istatus" style='display:none'>{{ project.status }}</p>
				<p class="istand" style='display:none'>{{ project.placement }}</p>
				<p class="ilength" style='display:none'>{{ project.length }}</p>	
				<p class="iweight" style='display:none'>{{ project.weight }}</p>
			</div>
		{% endfor %}
	</div>
</div>
