<div id="cwrap">
    <div class="container">
        <div class="sponsor row centered">
            {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
            {% for sponsor in site.data.sponsors limit:include.limit %}
                <a href={{ sponsor.url }}>
				<div class="col-lg-3 col-md-3 col-sm-3 sponsor-item">
					<img src="{{ "/assets/img/sponsors/" | prepend: site.baseurl }}{{ sponsor.img }}" class="img-responsive">
                	<br />{{ sponsor.name }}<br /><br />
					<p class="iso-data" style='display:none'>{{ sponsor.detail }}</p>
				</div>
				</a>
            {% endfor %}
        </div><! --/row -->
    </div><! --/container -->
</div><! --/cwrap -->
