<div id="cwrap">
    <div class="container">
        <div class="row centered">
            {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
            {% for sponsor in site.sponsors limit:include.limit %}
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a href={{ sponsor.url }}><img src="{{ "/assets/img/sponsors/" | prepend: site.baseurl }}{{ sponsor.img }}" class="img-responsive">
                    <br />{{ sponsor.name }}<br /><br /></a>
                </div>
            {% endfor %}
        </div><! --/row -->
    </div><! --/container -->
</div><! --/cwrap -->
