---
layout: default
---

<div class="container mtb">
    <div class="row">
        <! -- SINGLE POST -->
        <div class="col-lg-8">
            <! -- Blog Post  -->
            <p><img class="img-responsive" src="{{ "/assets/img/development/" | prepend: site.baseurl }}{{ page.title | downcase }}/1.jpg"></p>
            <h3 class="ctitle">{{ page.wrap_title }}</h3>
              
            {{ content }}

            <div class="spacing"></div>
        </div><! --/col-lg-8 -->
        
        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->
