---
layout: default
---

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>

            {{ content }}
            {% if page.members %}
            <p><h4>Team Members:</h4>
                <ul>{% for m in page.members %}<li>{{m}}</li>{% endfor %}
                </ul>
            </p>
            {% endif %}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Project Details</h4>
            <div class="hline"></div>
            <p><b>Class Year:</b> {{ page.title | upcase }} </p>
            <p><b>Status:</b> {{ page.status }} </p>
            <p><b>Theme:</b> {{ page.theme }} </p>
            <p><b>Placement at CNCC {{ page.date | date: "%Y" | plus: '1' }}:</b> {{ page.placement }} </p>
            <p><b>Length:</b> {{ page.length }} </p>
            <p><b>Weight:</b> {{ page.weight }}</p>
            <p><b>Awards:</b> {{ page.award.first }}{% for a in page.award offset:1 %}, {{a}}{% endfor %} </p>
            <p><b>Project Managers:</b> {{ page.managers.first }}{% for m in page.managers offset:1 %}, {{m}}{% endfor %} </p>
            <div class="hline"></div>
            <div class="spacing"></div>
        </div>
    </div><! --/row -->
</div><! --/container -->
	 
{% include canoes.html title="Related Works." limit=5 %}
